@import "colors.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-grow: 1;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,button,div{
  font-family:"Poppins", sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
}
h2{
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;

}
h3{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
h4{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
}
h5{
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

button,input,fieldset{
  background-color: transparent;
  border: none;
  outline: none;
}

button:hover{
  transition: all 0.3s ease;
}


